<ion-header >
  <ion-toolbar color="secondary shade">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
      </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
     <ion-card-header>
        <ion-card-title>Contato</ion-card-title>
     </ion-card-header>
    <ion-card-content>
        <ion-item>
           <ion-label position="floating">Nome</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
         <ion-input type="Email"></ion-input>
       </ion-item>

       <ion-item>
        <ion-label position="floating">Senha</ion-label>
       <ion-input type="password"></ion-input>
       </ion-item>

       <ion-item>
        <ion-label position="floating">Conforma senha</ion-label>
       <ion-input type="password"></ion-input>
       </ion-item>

       <ion-item>
        <ion-label position="floating">Numero Telefone</ion-label>
       <ion-input type="tel"></ion-input>
        <button  ion-fab color="primary" (click)="newContact()">
         <ion-icon name="add"></ion-icon>
         </button>
       </ion-item>

      </ion-card-content>
    </ion-card>
    <ion-card>
       <ion-card-content>
       
               <ion-card-header>
                  <ion-card-title> Informe seu endereço:  </ion-card-title>
               </ion-card-header>
              
                  <ion-item>
                    <ion-label position="floating">Endereço</ion-label>
                   <ion-input type="text"></ion-input>
                   </ion-item>

                   <ion-item>
                   <ion-label position="floating">Numero</ion-label>
                   <ion-input type="tel"></ion-input>
                   </ion-item>

                   <ion-item>
                    <ion-label position="floating">Logradouro</ion-label>
                   <ion-input type="cidade"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Tipo Logradouro</ion-label>
                   <ion-input type="cidade"></ion-input>
                  </ion-item>

                  <ion-item>
                  <ion-label position="floating">Complemento </ion-label>
                  <ion-input type="Text"></ion-input>
                  </ion-item>
 

                   <ion-item>
                   <ion-label position="floating">CEP</ion-label>
                   <ion-input type="cep"></ion-input>
                   </ion-item>



                  <ion-item>
                  <ion-label position="floating">Bairro</ion-label>
                  <ion-input type="tel"></ion-input>
                  </ion-item>

                  <ion-item>
                   <ion-label position="floating">Cidade</ion-label>
                   <ion-input type="cidade"></ion-input>
                  </ion-item>


                  <ion-item>
                  <ion-label position="floating">Estado</ion-label>
                  <ion-input type="cidade"></ion-input>
                  </ion-item>
        </ion-card-content>    
              
      </ion-card>
 
      <ion-card><ion-button color="secondary shade"  size="full" (click)="register()">Register</ion-button>   </ion-card>
            
         
  
</ion-content>

